node_modules
*.log
yarn.lock
.idea/
package-lock.json
.servicerc

dist
public/bundle.js
public/*.json
public/*.woff
public/*.woff2
public/*.eot
public/*.svg
public/*.ttf
public/styles.css
public/1.css
public/mainbundle.js
public/vendors~mainbundle.js
public/main.bundle.js
public/main.css


bin/
.vscode/
.vs/
obj/

/dist
/tmp
/out-tsc
/bazel-out

/node_modules

chrome-profiler-events*.json
speed-measure-plugin*.json

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

.DS_Store
Thumbs.db

/package-lock.json